
body{
	font-family: sans-serif;
	background-color: #ffffff;
}

.main_main{
	top:  -10px;
	width: 80%;
	margin: auto;
	background-color: rgba(187 195 227 / 15%);
	margin-top: -10px;
	margin-bottom: -5px;
}

.main_div{
	margin: auto;
	width: 75%;
	top:  10px;
}

.skill_first{
	display: inline-block;
}

#skilled{
	font-weight: bold;
}

#get_started{
	float: right;
	border-radius: 25px;
	padding: 13px;
	background-color: black;
	color: white;
	margin-top: 7px;
	font-size: 15px;
}

#second_div{
	margin-bottom: 90px;
}

.second_div{
	display: inline-block;
}

#img_div{
	width: 490px;
	float: right;
	margin-right: -187px;
	margin-top: -160px;
	position: relative;
	overflow:hidden;
	z-index: -1;
}

#img{
	content: url(assets/image-hero-desktop.png);
	background-size: 560px;
  	width: 560px;
}

#main_maximize{
	width: 400px;
}

.maximize{
	display: block;
}

#maximize{
	font-weight: bold;
	font-size: 45px;
}

#maximize_course{
	font-size: 15px;
	margin-top: -35px;
	color: #9da2a7;
}

#maximize_started{
	padding: 13px;
	border-radius: 25px;
	background: linear-gradient(#ed4a4b, #cb6c9c); /*rgba(231 106 199);*/
	color: white;
	font-size: 15px;
	width: 80px;
}

.course{
	border-radius: 5px;
	width: 275px;
	box-shadow: 0 0 8px 2px #efefef;
	background-color: #ffffff;
	text-align: left;
	padding: 25px;
	font-size: 18px;
	color: #83869A;
}

.main_course_div{
	display: grid;
  	grid-template-columns: 350px 350px 350px;
  	column-gap: 50px;
  	row-gap: 50px;
	margin-bottom: 40px;
}

#popular_course{
	color: #ffffff;
	font-weight: bold;
	background: linear-gradient(#ed4a4b, #cb6c9c);
	font-size: 27px;
}

.course_heading{
	font-weight: bold;
	color: #000000;
}

.course_get_started{
	color: #F74780;
	margin-bottom: -1px;
}

.course_get_started:hover{
	color: #FFA7C3;
}

.img_radius{
	border-radius: 50px;
	width: 30px;
	display: flex;
  	justify-content: center;
  	margin-top: -42px;
    padding: 5px;
    height: 30px;
}


.skill_last{
	display: inline-block;
}

#footer_skilled{
	font-weight: bold;
	color: #ffffff;
}

#footer_get_started{
	float: right;
	border-radius: 25px;
	padding: 13px;
	background: linear-gradient(#c20def, #ed4a4b);
	color: white;
	margin-top: -1px;
    margin-top: 5px;
	font-size: 15px;
}


#get_started:hover{
	background-color: #6f97ef;
}

#maximize_started:hover{
	background-color: rgba(239 169 221);
}

#footer_get_started:hover{
	background-color: rgba(227 164 211);
}




/*  tablet css  */
@media only screen and (max-device-width: 768px){

	body{
		font-family: sans-serif;
		background-color: rgba(187 195 227 / 15%);
	}

	.main_main{
		top:  -10px;
		width: 100%;
		margin: auto;
		background-color: rgba(187 195 227 / 15%);
		margin-top: -10px;
	}

	#second_div{
		margin-bottom: 120px;
	}

	.main_div{
		margin: auto;
		width: 100%;
		top:  10px;
		margin-right: 10px;
		margin-left: 10px;
		background-color: rgba(187 195 227 / 15%);
		padding-left: 10px;
		padding-right: 10px;
	}

	.course{
		border-radius: 5px;
		box-shadow: 0 0 10px 5px #d9d9d9;
		background-color: #ffffff;
		text-align: left;
		padding: 10px;
		font-size: 15px;
		color: #9da2a7;
	}

	.mini_div{
		padding: 8px;
	}

	.main_course_div{
		display: grid;
	  	grid-template-columns: 350px 350px;
	  	column-gap: 50px;
	  	row-gap: 50px;
		margin-bottom: 40px;
	}

	#img_div{
		width: 310px;
		float: right;
		margin-right: 13px;
		margin-top: -160px;
		position: relative;
		overflow:hidden;
		z-index: -1;
	}

	#img{
		content: url(assets/image-hero-tablet.png);
		background-size: 560px;
	  	width: 560px;
	}

	#get_started{
		margin-right: 46px;
	}

	#footer_get_started{
		margin-right: 46px;
	}
}




/*  mobile css  */
@media only screen and (max-device-width: 468px){
	body{
		margin: auto;
	}

	.main_main{
		top:  -10px;
		width: 100%;
		margin: auto;
		background-color: rgba(187 195 227 / 15%);
		margin-top: -10px;
	}

	#maximize_course{
		text-align: justify;
    	width: 350px;
	}

	.main_div{
		margin: auto;
		width: 100%;
		top:  10px;
		/*margin-right: 10px;
		margin-left: 10px;*/
		background-color: rgba(187 195 227 / 15%);
		/*padding-left: 10px;
		padding-right: 10px;*/
	}

	.course{
		border-radius: 5px;
		box-shadow: 0 0 10px 5px #d9d9d9;
		background-color: #ffffff;
		text-align: left;
		padding: 10px;
		font-size: 15px;
		color: #9da2a7;
	}

	.main_course_div{
		margin-top: 40px;
		display: grid;
	  	grid-template-columns: 350px;
	  	column-gap: 50px;
	  	row-gap: 50px;
		margin-bottom: 40px;
	}

	#img_div{
		width: 390px;
		margin-right: -10px;
		margin-top: -40px;
		position: relative;
		/*overflow:hidden;
		z-index: -1;*/
	}

	#img{
		content: url(assets/image-hero-mobile.png);
		background-size: 560px;
	  	width: 360px;
	}

	#footer_get_started{
		margin-right: 28px;
	}

	#come{
		margin-top: 300px;
		margin-bottom: -10px;
		margin-left: 25px;
	}

	#get_started{
		float: right;
		border-radius: 25px;
		padding: 10px;
		background-color: black;
		color: white;
		margin-top: 7px;
		font-size: 15px;
		margin-right: 15px;
	}
}
